.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/../movies.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  h1 {
    font-size: 64px;
  }
  .button {
    padding: 10px;
    border: solid 1px white;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
