<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/lists">
      <%= image_tag "popcorn", alt: "alttext", size: "26x26", class: "img-fluid rounded d-inline-block align-text-top mr-2" %>
      Watch lists
    </a>
  </div>
</nav>
